@import "tailwindcss";

@theme {
    --breakpoint-sm: 30rem;
    --breakpoint-md: 42.5rem;
    --breakpoint-lg: 70rem;
    --breakpoint-xl: 120rem;
    --color-bg-rgba-white: rgba(255, 255, 255, 0.01);
    --color-bgd-gray: #3e4148;
    --color-bgd-primary: #0c0c0c;
    --color-bgd-rgba-white: rgba(255, 255, 255, 0.2);
    --color-bgd-secondary: #141414;
    --color-bgl-primary: #fff;
    --color-bgl-secondary: #f7f7f7;
    --color-border-gray: #3d3d3d;
    --color-border-rgba-white: rgba(255, 255, 255, 0.12);
    --color-primary: #ff4191;
    --color-secondary: #007aff;
    --color-black-light: #666;
    --color-dark: #282828;
    --color-rgba-white: rgba(255, 255, 255, 0.85);
    --color-rgba-white-dark: rgba(255, 255, 255, 0.55);
    --color-white-dark: #eaeaea;
    --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 100;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 200;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 800;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 900;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(../src/assets/fonts/poppins.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        font-style: italic;
        font-weight: 200 800;
        font-display: swap;
        src: url(../src/assets/fonts/plus-jakarta-sans.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 200 800;
        font-display: swap;
        src: url(../src/assets/fonts/plus-jakarta-sans.woff2) format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    body {
        @apply bg-bgl-secondary dark:bg-bgd-secondary dark:text-rgba-white font-poppins text-[0.875rem];
    }

    svg {
        display: inline;
    }

    .ps__rail-y {
        background: var(--color-bgd-rgba-white) !important;
        border-radius: 4px !important;
        width: 8px !important;
    }

    .ps__thumb-y {
        background: var(--color-rgba-white-dark) !important;
        border-radius: 4px !important;
        width: 4px !important;
    }
}

@layer components {
    @keyframes bulb-move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }

    @keyframes cursor {
        50% {
            opacity: 0;
        }
    }

    @keyframes ctyped {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        51% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes cglitched {
        0% {
            transform: skew(-20deg);
            left: -4px;
        }
        10% {
            transform: skew(-20deg);
            left: -4px;
        }
        11% {
            transform: skew(0deg);
            left: 2px;
        }
        50% {
            transform: skew(0deg);
        }
        51% {
            transform: skew(10deg);
        }
        59% {
            transform: skew(10deg);
        }
        60% {
            transform: skew(0deg);
        }
        100% {
            transform: skew(0deg);
        }
    }

    .img-responsive {
        @apply h-auto w-auto max-h-full max-w-full;
    }

    .bulb {
        @apply absolute w-[20vmin] h-[20vmin] rounded-[20vmin] backface-hidden;
        animation-iteration-count: infinite;
        animation-name: bulb-move;
        animation-timing-function: linear;
    }

    .bulb:nth-child(1) {
        @apply top-[56%] left-[9%];
        animation-duration: 11s;
        animation-delay: -8.1s;
        box-shadow: 40vmin 0 13.0166555866vmin currentColor;
        color: var(--color-primary);
        transform-origin: 6vw -10vh;
    }

    .bulb:nth-child(2) {
        @apply top-[72%] left-[75%];
        animation-duration: 11.1s;
        animation-delay: -3.8s;
        box-shadow: 40vmin 0 6.1961466709vmin currentColor;
        color: var(--color-dark);
        transform-origin: -12vw 9vh;
    }

    .bulb:nth-child(3) {
        @apply top-[9%] left-[81%];
        animation-duration: 11.9s;
        animation-delay: -7.1s;
        box-shadow: -40vmin 0 7.4502495452vmin currentColor;
        color: var(--color-primary);
        transform-origin: 23vw 2vh;
    }

    .bulb:nth-child(4) {
        @apply top-[2%] left-[17%];
        animation-duration: 12s;
        animation-delay: -2.8s;
        box-shadow: -40vmin 0 12.533787847vmin currentColor;
        color: var(--color-secondary);
        transform-origin: -16vw 8vh;
    }

    .bulb:nth-child(5) {
        @apply top-[25%] left-[4%];
        animation-duration: 15.6s;
        animation-delay: -8s;
        box-shadow: -40vmin 0 5.4723418582vmin currentColor;
        color: var(--color-primary);
        transform-origin: -20vw -22vh;
    }

    .bulb:nth-child(6) {
        @apply top-[25%] left-[11%];
        animation-duration: 12.4s;
        animation-delay: -7.2s;
        box-shadow: 40vmin 0 10.0276258235vmin currentColor;
        color: var(--color-dark);
        transform-origin: 6vw -17vh;
    }

    .bulb:nth-child(7) {
        @apply top-[5%] left-[29%];
        animation-duration: 10.4s;
        animation-delay: -8.4s;
        box-shadow: -40vmin 0 6.0912947411vmin currentColor;
        color: var(--color-dark);
        transform-origin: 20vw 5vh;
    }

    .bulb:nth-child(8) {
        @apply top-[38%] left-[18%];
        animation-duration: 14s;
        animation-delay: -13.9s;
        box-shadow: -40vmin 0 7.4727724313vmin currentColor;
        color: var(--color-primary);
        transform-origin: 5vw -1vh;
    }

    .bulb:nth-child(9) {
        @apply top-[63%] left-[83%];
        animation-duration: 11.6s;
        animation-delay: -10.9s;
        box-shadow: -40vmin 0 7.1376872218vmin currentColor;
        color: var(--color-dark);
        transform-origin: -2vw -11vh;
    }

    .bulb:nth-child(10) {
        @apply top-[44%] left-[64%];
        animation-duration: 12s;
        animation-delay: -4.7s;
        box-shadow: 40vmin 0 7.4094127515vmin currentColor;
        color: var(--color-dark);
        transform-origin: -24vw 17vh;
    }

    .bulb:nth-child(11) {
        @apply top-[73%] left-[76%];
        animation-duration: 15.8s;
        animation-delay: -6.2s;
        box-shadow: 40vmin 0 14.0899880498vmin currentColor;
        color: var(--color-primary);
        transform-origin: -9vw -24vh;
    }

    .bulb:nth-child(12) {
        @apply top-[4%] left-[96%];
        animation-duration: 12.1s;
        animation-delay: -7.9s;
        box-shadow: 40vmin 0 12.0679060615vmin currentColor;
        color: var(--color-primary);
        transform-origin: -7vw 11vh;
    }

    .bulb:nth-child(13) {
        @apply top-[80%] left-[89%];
        animation-duration: 10.7s;
        animation-delay: -9.6s;
        box-shadow: -40vmin 0 13.4227817909vmin currentColor;
        color: var(--color-dark);
        transform-origin: -23vw 8vh;
    }

    .bulb:nth-child(14) {
        @apply top-[10%] left-[84%];
        animation-duration: 11.7s;
        animation-delay: -13.7s;
        box-shadow: 40vmin 0 13.0652683419vmin currentColor;
        color: var(--color-secondary);
        transform-origin: 23vw -9vh;
    }

    .bulb:nth-child(15) {
        @apply top-[31%] left-[52%];
        animation-duration: 12s;
        animation-delay: -4.5s;
        box-shadow: 40vmin 0 14.569884619vmin currentColor;
        color: var(--color-primary);
        transform-origin: 1vw -5vh;
    }

    .bulb:nth-child(16) {
        @apply top-[6%] left-[98%];
        animation-duration: 12.7s;
        animation-delay: -7.5s;
        box-shadow: -40vmin 0 7.281992007vmin currentColor;
        color: var(--color-dark);
        transform-origin: 15vw -9vh;
    }

    .bulb:nth-child(17) {
        @apply top-[18%] left-[96%];
        animation-duration: 12.7s;
        animation-delay: -7.6s;
        box-shadow: 40vmin 0 11.8428291366vmin currentColor;
        color: var(--color-dark);
        transform-origin: -11vw 23vh;
    }

    .bulb:nth-child(18) {
        @apply top-[47%] left-[65%];
        animation-duration: 13.3s;
        animation-delay: -12.4s;
        box-shadow: -40vmin 0 5.1686799201vmin currentColor;
        color: var(--color-secondary);
        transform-origin: 14vw -13vh;
    }

    .bulb:nth-child(19) {
        @apply top-[51%] left-[61%];
        animation-duration: 13.5s;
        animation-delay: -15.1s;
        box-shadow: -40vmin 0 9.0171705711vmin currentColor;
        color: var(--color-dark);
        transform-origin: -11vw 16vh;
    }

    .bulb:nth-child(20) {
        @apply top-[64%] left-[96%];
        animation-duration: 14.9s;
        animation-delay: -4.7s;
        box-shadow: 40vmin 0 5.1015424987vmin currentColor;
        color: var(--color-primary);
        transform-origin: 8vw 7vh;
    }

    .bg-gradient:before {
        @apply absolute block h-full w-full rounded-[2rem];
        content: '';
        background: linear-gradient(120deg, rgba(255, 255, 255, .08), rgba(255, 255, 255, 0));
    }

    .embla {
        @apply flex flex-col gap-[1.875rem];
        --slide-spacing: 0;
        --slide-size: 100%;
    }

    .embla-viewport {
        @apply overflow-hidden;
    }

    .embla-container {
        @apply flex backface-hidden;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
    }

    .embla-slide {
        @apply min-w-0;
        flex: 0 0 var(--slide-size);
        padding-left: var(--slide-spacing);
        transform: translate3d(0, 0, 0);
    }

    .embla-dots {
        @apply flex gap-[0.5rem] justify-center;
    }

    .embla-dots button {
        @apply w-[0.5rem] h-[0.5rem] bg-bgd-rgba-white rounded-full cursor-pointer;
    }

    .embla-dots button.selected {
        @apply bg-primary;
    }

    .title-bullet {
        @apply flex gap-[0.625rem] justify-center items-center px-[0.625rem] py-[0.438rem] border border-border-rgba-white rounded-[2rem] leading-[0.938rem] text-center uppercase md:px-[1.25rem] md:py-[0.625rem];
    }

    .title-bullet p {
        @apply text-[0.813rem] md:text-[0.875rem];
    }

    header {
        @apply fixed top-0 left-0 flex flex-row-reverse gap-x-[0.938rem] flex-wrap w-full bg-bgd-primary z-50 md:left-[0.938rem] md:flex-col md:gap-[0.5rem] md:w-[4.125rem] md:mt-[2.188rem] md:bg-transparent lg:static lg:basis-[4.125rem];
    }

    .header-container {
        @apply relative bg-bgl-primary dark:bg-bgd-primary text-center cursor-pointer;
    }

    .hamburger span {
        @apply relative inline-block h-[0.125rem] w-[1.625rem] top-[-0.313rem];
        background: var(--color-rgba-white);
        transition: all .3s ease 0s;
        -webkit-transition: all .3s ease 0s;
    }

    .hamburger span:before,
    .hamburger span:after {
        @apply absolute inline-block h-[0.125rem] ml-[-0.813rem];
        background: var(--color-rgba-white);
        content: '';
        transition: all .3s ease 0s;
        -webkit-transition: all .3s ease 0s;
    }

    .hamburger span:before {
        @apply w-[1.25rem] mt-[-0.438rem];
    }

    .hamburger span:after {
        @apply w-[0.938rem] mt-[0.438rem];
    }

    .hamburger:hover span {
        background: var(--color-primary);
    }

    .hamburger:hover span:before,
    .hamburger:hover span:after {
        @apply w-[1.625rem];
        background: var(--color-primary);
    }

    .header-container svg {
        color: var(--color-rgba-white);
    }

    .header-container:hover > svg {
        color: var(--color-primary);
    }

    #main-menu {
        @apply flex justify-between w-[18.75rem] py-[0.625rem] mx-auto md:block md:w-auto;
    }

    #main-menu a {
        @apply relative block h-[3.125rem] w-[3.125rem] mx-auto my-[0.25rem] bg-bg-rgba-white rounded-full leading-[2.938rem] text-center;
    }

    #main-menu a svg {
        @apply duration-500;
    }

    #main-menu a:hover > svg,
    #main-menu .active > svg {
        @apply text-primary;
    }

    #main-menu a span {
        @apply absolute opacity-0 bg-primary h-[1.563rem] px-2 rounded-[0.625rem] leading-[1.563rem] text-[0.75rem] uppercase tracking-[0.075rem];
        color: var(--color-dark);
        left: 90%;
        top: calc(50% - 0.7815rem);
        transition: 0.3s ease 0s;
    }

    #main-menu a:hover > span {
        @apply opacity-100;
    }

    .sidebar {
        @apply basis-full mt-[10.875rem] sm:w-[30rem] sm:mx-auto md:w-auto md:mt-[1.25rem] md:ml-[6.25rem] md:mr-[0.938rem] lg:basis-[22.5rem] lg:mx-0;
    }

    .typed {
        @apply h-[2.125rem] px-[2.5rem] leading-[2.125rem] font-normal tracking-[0.125rem] text-center uppercase;
        animation-duration: calc(0.9s * 1.3);
        animation-iteration-count: infinite;
        animation-name: cglitched;
        animation-timing-function: linear;
    }

    .typed:after {
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
        animation-name: ctyped;
        animation-timing-function: linear;
        content: '_';
    }

    .name {
        @apply px-[2.5rem] leading-[3.438rem] text-[1.875rem] font-semibold text-center;
    }

    .social {
        @apply flex justify-around w-[12.5rem] mx-auto;
    }

    .social a {
        @apply basis-[2.375rem] h-[2.375rem] border rounded-[1rem] leading-[2.125rem] text-center;
    }

    .social a:hover > svg {
        color: var(--color-primary);
    }

    .stats {
        @apply basis-1/2 flex gap-[1.25rem] items-center md:basis-auto;
    }

    .stats span:first-child {
        @apply leading-[4.688rem] text-[2.5rem] md:text-[3.75rem];
    }

    .stats span:last-child {
        @apply basis-[6.25rem] leading-[1.5];
    }

    .contact {
        @apply relative flex;
    }

    .contact:before {
        @apply absolute w-full h-[0.063rem] top-0 left-0;
        background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
        content: '';
    }

    .contact a {
        @apply relative basis-1/2 leading-[4.375rem] font-semibold text-center;
    }

    .contact a:first-child:before {
        @apply absolute w-[0.063rem] h-full top-0 right-0;
        background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
        content: '';
    }

    .content {
        @apply relative bg-bgl-primary dark:bg-bgd-primary rounded-[2rem] sm:w-[30rem] sm:mx-auto md:w-auto md:mt-[1.25rem] md:ml-[6.25rem] md:mr-[0.938rem] lg:mx-0 lg:rounded-tr-[2rem] lg:rounded-bl-[2rem] before:lg:rounded-tl-none before:lg:rounded-br-none;
    }

    .service {
        @apply flex flex-col gap-[1.875rem] px-[1.25rem] py-[1.875rem] rounded-[1rem] md:px-[1.875rem] md:py-[3.125rem];
        border: 1px solid rgba(255, 255, 255, 0.06);
    }

    .service a {
        @apply text-white uppercase underline;
    }

    .service-top {
        @apply flex gap-[1.875rem] items-center;
    }

    .service-top div:first-child {
        @apply basis-[3.125rem];
    }

    .service-top div:last-child span {
        @apply text-[0.813rem] text-rgba-white-dark;
    }

    .service-top div:last-child h3 {
        @apply font-medium text-white;
    }

    .experience {
        @apply flex flex-col gap-[0.938rem] text-center;
    }

    .experience h3,
    .experience h4,
    .experience p {
        @apply px-[0.625rem] select-none;
    }

    .experience-line {
        @apply h-[0.063rem] bg-border-gray;
    }

    .experience-line:before {
        @apply relative block w-[0.625rem] h-[0.625rem] bg-primary mt-[-0.313rem] mx-auto rounded-full;
        content: '';
    }

    .resume-column {
        @apply basis-full flex flex-col gap-[1.25rem] md:basis-1/2;
    }

    .resume-column-container {
        @apply relative flex flex-col gap-[1.875rem] pl-[0.938rem];
    }

    .resume-column-container:before {
        @apply absolute top-[1.875rem] bottom-[1.875rem] left-0 w-[0.063rem] bg-black-light;
        content: '';
    }

    .certification {
        @apply relative flex flex-col gap-[0.625rem] p-[1.25rem] border border-border-rgba-white rounded-[1rem];
    }

    .certification:before {
        @apply absolute top-[1.625rem] left-[-1.25rem] w-[0.563rem] h-[0.563rem] bg-black-light rounded-full;
        content: '';
    }

    .certification div p {
        @apply inline-block px-[0.313rem] border border-black-light rounded-[0.25rem] text-[0.813rem] text-black-light;
    }

    .certification div button {
        @apply font-semibold uppercase;
    }

    .certification div button svg {
        @apply mt-[-0.063rem];
    }

    .technology {
        @apply relative flex flex-col gap-[1.875rem] p-[1.875rem] border border-border-rgba-white rounded-[1rem];
        background: linear-gradient(120deg, rgba(255, 255, 255, .02), rgba(0, 0, 0, .2));
    }

    .technology-detail {
        @apply flex gap-[1.875rem] items-center;
    }

    .technology-detail div {
        @apply basis-[2.5rem];
    }

    .technology-detail h3 {
        @apply text-[1.063rem] font-medium;
    }

    .technology-range {
        @apply h-[0.188rem] bg-border-rgba-white rounded-[0.313rem];
    }

    .technology-range div {
        @apply h-full rounded-[0.313rem] bg-white;
    }

    .technology p {
        @apply absolute top-[0.625rem] right-[0.625rem] py-[0.188rem] px-[0.625rem] border border-bgd-rgba-white rounded-[1.875rem] text-[0.75rem];
    }

    .tool-grid {
        @apply grid grid-cols-2 gap-[1.875rem] md:grid-cols-3;
    }

    .tool {
        @apply flex flex-col gap-[0.625rem] p-[1.25rem] border border-border-rgba-white rounded-[1rem];
        background: linear-gradient(120deg, rgba(255, 255, 255, .02), rgba(0, 0, 0, .2));
    }

    .tool-range {
        @apply w-[6.25rem] h-[6.25rem] mx-auto bg-no-repeat;
        background-position: center 38%;
        background-size: 40% 40%;
    }

    .tool-range svg {
        @apply w-full h-full;
    }

    svg path.cover-range {
        @apply fill-none stroke-[0.125rem] stroke-border-rgba-white;
    }

    svg path.visible-range {
        @apply fill-none stroke-[0.125rem] stroke-primary;
        stroke-linecap: round;
        stroke-dasharray: 100, 100;
        transition: stroke-dashoffset 0.6s ease;
    }

    svg.tool-skill text.percentage {
        @apply text-[0.313rem] fill-white;
        text-anchor: middle;
    }

    svg.soft-skill text.percentage {
        @apply text-[0.375rem] fill-white;
        text-anchor: middle;
    }

    .tool h3 {
        @apply leading-[1.25rem] text-center;
    }

    .skill-grid {
        @apply grid grid-cols-1 gap-[1.875rem] pt-[5.625rem] pb-[1.875rem];
    }

    .skill-column {
        @apply flex flex-col gap-[1.25rem];
    }

    .skill-column-container {
        @apply flex flex-col gap-[0.625rem] py-[1.25rem];
    }

    .language-item {
        @apply flex gap-[1.25rem] items-center;
    }

    .language-image {
        @apply basis-[3.75rem] p-[0.938rem] bg-bg-rgba-white border border-border-rgba-white rounded-[1rem];
    }

    .language-image img {
        @apply w-[2.5rem] h-auto;
    }

    .language-text {
        @apply flex flex-col gap-[0.313rem] grow;
    }

    .language-rate {
        @apply flex gap-[1.25rem] items-center;
    }

    .language-rate div {
        @apply flex justify-around min-w-[10rem] basis-[15rem];
    }

    .language-rate div span {
        @apply inline-block w-[0.938rem] h-[0.938rem] rounded-full;
    }

    .language-rate p {
        @apply grow text-right;
    }

    .soft-skill-item {
        @apply leading-[1rem];
    }

    .soft-skill-item svg {
        @apply mr-[0.313rem] text-primary;
    }

    .get-in-touch {
        @apply grid grid-cols-1 gap-[1.875rem];
    }

    .contact-item {
        @apply flex flex-col gap-[0.625rem] items-start px-[1.25rem] py-[1.25rem] border border-border-rgba-white rounded-[1rem] md:flex-row md:gap-0 md:items-center md:py-[1.875rem];
        background: linear-gradient(120deg, rgba(255, 255, 255, .02), rgba(0, 0, 0, .2));
    }

    .contact-item div {
        @apply h-[2.125rem] leading-[2.125rem] md:basis-[9.375rem] md:h-[2.5rem] md:leading-[2.5rem];
    }

    .contact-item div svg {
        @apply h-full mt-[-0.188rem] mr-[1.25rem] fill-primary;
    }

    .contact-item div h3 {
        @apply inline text-rgba-white-dark md:text-[1.063rem];
    }

    .contact-item p {
        @apply grow text-[0.875rem] text-right uppercase truncate md:text-[1rem];
    }

    .contact-map {
        @apply w-full h-[28.125rem];
    }

    .contact-form fieldset {
        @apply grid grid-cols-1 gap-[1.875rem] md:grid-cols-2;
    }

    .contact-form fieldset input {
        @apply h-[3.125rem] px-[0.938rem] border border-border-rgba-white rounded-[0.625rem] leading-[3.125rem] text-[1rem];
        appearance: none;
    }

    .contact-form fieldset textarea {
        @apply px-[0.938rem] border border-border-rgba-white rounded-[0.625rem] leading-[3.125rem] text-[1rem] resize-none md:col-span-2;
    }

    .contact-form fieldset input:focus,
    .contact-form fieldset textarea:focus {
        @apply text-primary shadow-[none] outline-none;
    }

    .contact-form fieldset input::placeholder,
    .contact-form fieldset textarea::placeholder {
        @apply text-white;
    }

    .contact-form fieldset div button {
        @apply h-[3.125rem] font-semibold uppercase cursor-pointer;
    }

    .contact-form fieldset div button svg {
        @apply mb-[0.125rem] duration-200;
    }

    .contact-form fieldset div button:hover {
        @apply text-primary;
    }

    .contact-form fieldset div button:hover svg {
        @apply ml-[0.188rem];
    }

    @media (width >= 70rem) {
        header {
            margin-top: 3vh;
        }

        .sidebar {
            margin-top: 1vh;
        }

        .content {
            margin-bottom: 1vh;
            margin-top: 1vh;
        }
    }

    @media (width >= 70rem) and (height >= 41.563rem) {
        header {
            margin-top: calc(((100vh - 621px) / 2) + 2vh);
        }

        .sidebar {
            margin-top: calc((100vh - 621px) / 2);
        }

        .content {
            margin-top: calc((100vh - 621px) / 2);
        }
    }

    @media (width >= 85rem) {
        .embla {
            --slide-size: 50%;
        }

        .tool-grid {
            @apply grid-cols-4;
        }

        .skill-grid {
            @apply grid-cols-2;
        }
    }

    @media (width >= 96.25rem) {
        .get-in-touch {
            @apply grid-cols-2;
        }

        .get-in-touch .contact-item:last-child {
            @apply col-span-2;
        }
    }
}
